{% extends 'base.htm' %}

{% block title %}REAPERSROOMS{% endblock title %}

{% block content %}
<h1 class='text-center my-4 text-danger'>About page</h1>

<br>
<br>
<br>
<hr class='danger'>
<p class='text-white'>
    This website was created for Reapers182 members to share and document in game experiences.
    
    Whether it's setting up inner clan matches such as 1v1s, MP Scrims or BR games, post it!
    
    Also tournament reminders, victories and just plain fun moments can all be shared with members outside the realms of Facebook, and inside our own little realm called ReapersRooms!
    

</p>
<hr>
{% endblock content %}

